h1 {
  color: #21639e;
  text-align: center;
  letter-spacing: 5px;
}

h4 {
  color: #21639e;
  text-align: center;
  letter-spacing: 2px;
}

#myHeader {
  background-color: #c0d6e4;
  margin: 3px;
  padding: 10px;
}
