.row {
  margin: 8px -12px;
}
.row,
.row > .column {
  padding: 5px;
}
.column {
  float: center;
  margin-right: 200px;
  margin-left: 200px;
  width: 30%;
}
.content {
  background-color: #fcf5ed;
  padding: 4px;
}

img {
  opacity: 0.5;
}

img:hover {
  opacity: 1.0;
}
