.float-img {
float: left;
margin-left: 200px;
margin-right: 10px;
margin-bottom: 5px;
width: 30%;
padding; 5px;
}
  
.right {
  float: right;
  margin-right: 200px;
  width: 30%;
  border: 1px solid #468499;
  padding: 5px;
}
