nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #547a83;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 20px 30px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #d9a27e;
}

.active {
  background-color: #d9a27e;
}
