/* Navigation bar */

nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #547a83;
}
li {
  float: left;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 20px 30px;
  text-decoration: none;
}
li a:hover:not(.active) {
  background-color: #d9a27e;
}
.active {
  background-color: #d9a27e;
}

.right {
  float: right;
  margin-right: 200px;
  width: 25%;
  border: 1px solid #73AD21;
  padding: 10px;
}
.button {
  background-color: #f4511e;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}
.button:hover {opacity: 1}

/* Image & Text Content for index page */

.background{
    display: flex;
    background:url("Images/Photo1.PNG") no-repeat center;
    opacity: 0.5;
    min-height:400px;
    background-size: cover;
    background-attachment: fixed;
}
.intro {
  border: 1px solid black;
  padding: 10px;
  margin-left: 50%;
  width: 200px;
  height: 200px;
  text-align: justify;
}




/* Background Color & Font setting */

body {
  background-color: #eeeeee;
}

body {
  font-family: "Monaco", monospace;
}

/* common Header settings for all pages */

h1 {
  color: #21639e;
  font size: 60px;
  text-align: center;
  letter-spacing: 5px;
}
h2 {
  color: #21639e;
  letter-spacing: 3px;
}
h3 {
  color: #21639e;
  letter-spacing: 2px;
}
h4 {
  color: #21639e;
  fontsize: 20px;
  text-align: center;
  letter-spacing: 2px;
}

#myHeader {
  border-radius: 5px;
  background-color: #c0d6e4;
  margin: 2px;
  padding: 10px;
  opacity: 0.5;
}

/* Imagegallery row-columns */

.row {
  margin: 8px -12px;
}
.row,
.row > .column {
  padding: 5px;
}
.column {
  float: left;
  width: 24%;
}
.content {
  background-color: #fcf5ed;
  padding: 4px;
}

img {
  opacity: 0.5;
}

img:hover {
  opacity: 1.0;
}

